<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quiz App</title>
        <link rel="stylesheet" th:href="@{/questions/css/quiz-style.css}">
    </head>
    <body>
        <div class="app">
            <h1>Simple Quiz</h1>
            <div class="quiz">
                <div class="questions-container">
                    <div class="question" th:each="question : ${questions}">
                        <h2 id="question" class="description" th:text="${question.description}">Question goes here</h2>
                        <div id="answer-buttons">
                            <button class="btn"><div class="possible-answer" th:text="${question.possibleAnswers.get(0).content}" th:classappend="${question.correctAnswer == 1 ? 'correct-answer' : ''}">Answer 1</div></button>
                            <button class="btn"><div class="possible-answer" th:text="${question.possibleAnswers.get(1).content}" th:classappend="${question.correctAnswer == 2 ? 'correct-answer' : ''}">Answer 2</div></button>
                            <button class="btn"><div class="possible-answer" th:text="${question.possibleAnswers.get(2).content}" th:classappend="${question.correctAnswer == 3 ? 'correct-answer' : ''}">Answer 3</div></button>
                            <button class="btn"><div class="possible-answer" th:text="${question.possibleAnswers.get(3).content}" th:classappend="${question.correctAnswer == 4 ? 'correct-answer' : ''}">Answer 4</div></button>
                        </div>
                        <button id="next-btn">Next</button>
                    </div>
                </div>
            </div>
            <script th:src="@{/questions/js/quiz-script.js}"></script>
        </div>
    </body>
</html>
